<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Cadastro.DataAccess.Properties.Settings.CadastroClienteConnectionString"
            connectionString="Data Source=DESKTOP-AVNQA5V\SQLEXPRESS;Initial Catalog=CadastroCliente;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>